* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: midnightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card {
  height: 480px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
#storiya {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#storiya::-webkit-scrollbar {
  display: none;
}
.story {
  border: 3px solid palevioletred;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
}
.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#full-screen {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  display: none;
}
